@media screen and (max-width: 1405px) {
    .about__text {
        max-width: 300px;
    }
}

@media screen and (max-width: 1280px) {
    h1.intro__title {
        font-size: 45px;
        max-width: 420px;
    }
}

@media screen and (max-width: 1140px) {
    body {
        height: 100%;
    }

    .flex-box {
        flex-wrap: wrap;
    }

    .grid-box {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    .contact__svg-block {
        rotate: 90deg;
    }

    .project__svg-block {
        rotate: -180deg;
    }

    .topline {
        height: 80px;
    }

    .intro, .image {
        height: 315px;
    }

    h1.intro__title {
        bottom: 35px;
    }

    .image__img {
        /*object-position: top;*/
    }

    .about, .contact {
        height: 300px;
    }

    .about__text {
        right: 24px;
    }

    .contact__title {
        margin-top: 25px;
    }

    .contact_desc {
        bottom: 35px;
    }

    .project {
        height: 720px;
        padding-top: 30px;
    }

    .project__header {
        margin-bottom: 20px;
    }

    .project__img {
        height: 285px;
        margin-bottom: 30px;
    }

    .project__item {
        padding: 33px 0;
    }

    .soc1als {
        height: 101px;
        padding: 41px 24px;
    }
}

@media screen and (max-width: 800px) {
    .about__text {
        max-width: 293px;
    }

    .contact__title {
        font-size: 52px;
    }
}

@media screen and (max-width: 770px) {
    .nav___list {
        column-gap: 24px;
    }
}

@media screen and (max-width: 756px) {
    body {
        padding-top: 45px;
    }

    .topline {
        height: 101px;
    }

    .intro {
        grid-column-end: 9;
        height: 345px;
    }

    h1.intro__title {
        bottom: 50px;
    }

    .image {
        grid-column-start: 1;
        grid-column-end: 5;
        height: 450px;
    }

    .about {
        grid-column-start: 5;
        grid-column-end: 9;
        height: 450px;
    }

    .about__text {
        right: 24px;
        left: 24px;
    }

    .contact {
        grid-column-start: 1;
        height: 180px;
    }

    .contact__title {
        margin-top: 20px;
    }

    .contact_desc {
        bottom: 35px;
    }
}

@media screen and (max-width: 721px) {
    .logo {
        width: 170px;
    }
}

@media screen and (max-width: 660px) {
    .nav___list {
        flex-direction: column;
        row-gap: 12px;
    }

    .nav__item:nth-child(2) {
        display: none;
    }

    .nav__btn_projects {
        margin: 0;
    }

    .projects {
        top: 30px;
    }

    @keyframes appear {
        0% {
            opacity: 0;
            top: 60px;
        }
        100% {
            opacity: 1;
            top: 30px;
        }
    }

    @keyframes disappear {
        0% {
            display: block;
            opacity: 1;
            top: 30px;
        }
        100% {
            opacity: 0;
            top: 60px;
        }
    }
}

@media screen and (max-width: 570px) {
    .grid-box {
        order: 2;
    }

    .sidebar {
        order: 1;
    }

    .contact__svg-block {
        rotate: -90deg;
    }

    .image {
        display: none;
    }

    .about {
        grid-column-start: 1;
        padding-bottom: 50px;
        height: auto;
    }

    .about__text {
        max-width: 100%;
        position: relative;
        bottom: 0;
        right: 0;
        left: 0;
        margin-top: 91px;
    }

    .nav {
        display: none;
    }
}

@media screen and (max-width: 465px) {
    h1.intro__title {
        max-width: 295px;
        font-size: 32px;
    }
}

@media screen and (max-width: 382px) {
    .contact {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    h1.intro__title {
        max-width: 220px;
        font-size: 33px;
    }

    .lang-switch {
        flex-direction: column;
    }
}

@media screen and (max-width: 357px) {
    .soc1als {
        display: none;
    }
}

@media screen and (min-width: 1141px) and (min-height: 721px) and (max-height: 795px) {
    body {
        height: 100%;
    }

    h1.intro__title {
        bottom: 45px;
    }

    .about__text {
        bottom: 24px;
    }

    .project__item {
        padding: 3vh 0;
    }
}

@media screen and (min-width: 1141px) and (min-height: 796px) and (max-height: 950px) {
    .project__item {
        padding: 3vh 0;
    }
}

@media screen and (height: 720px) {
    .grid {
        gap: 15px;
    }

    h1.intro__title {
        bottom: 3vh;
    }

    .topline, .project {
        margin-bottom: 15px;
    }

    .about__text {
        right: 24px;
    }

    .project__item {
        padding: 22px 0;
    }
}

@media screen and (min-width: 1141px) and (max-height: 719px) {
    body {
        height: 100%;
    }

    .topline {
        height: 65px;
    }

    .topline, .project {
        margin-bottom: 15px;
    }

    .intro, .image {
        height: 340px;
    }

    h1.intro__title {
        bottom: 30px;
        font-size: 50px;
        max-width: 470px;
    }

    .project {
        height: 500px;
        padding-top: 20px;
    }

    .project__header {
        margin-bottom: 15px;
    }

    .project__img {
        height: 190px;
        margin-bottom: 23px;
    }

    .project__item {
        padding: 21px 0;
    }

    .about, .contact {
        height: 216px;
    }

    .about__text {
        bottom: 24px;
        right: 24px;
    }

    .contact_desc {
        bottom: 24px;
    }

    .soc1als {
        height: 70px;
        padding: 24px 24px;
    }
}